body{
background-image:url("img.jpg");
background-size:cover;
background-repeat:no-repeat;
background-attachment:fixed;
}
h1{
color:white;
text-shadow: 2px 2px 4px #000000;
text-align:center;
}
#a{
font-size:20;
font-weight:1000;
}
th{
font-size:35;
}
form{
max-width:950px;
min-height:500px;
background-color:grey;
position:relative;
top:20px;
left:20px;
opacity:0.75;
}
input{
height:20px;
width:100px;
}
